.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 60px;
}
.home-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
