.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 80px;
}
.home-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #777;
  margin: 0 7.5px 15px;
  &:first-child {
    margin-right: 7.5px;
  }
  &:last-child {
    margin-left: 7.5px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.03);
    padding: 15px 25px;
    box-shadow: 0 0 7px 9px rgba(0, 0, 0, 0.02);
    .title {
      font-size: 1.4rem;
      font-weight: 700;
      color: #555;
      margin-bottom: 5px;
    }
  }
}
